<div class="row justify-content-center">
    <div class="profile col-md-8 col-md-offset-2">
        <h1>My Orders</h1>
        <hr>
        {{#if orders}}
        {{#each orders }}
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        {{#each this.items }}
                            <li class="list-group-item">
                                <span class="badge badge-pill badge-success">${{ this.price }}</span>
                                {{ this.item.title }} | {{ this.qty }}
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="card-footer">
                    <strong>Total Price: ${{ this.cart.totalPrice }}</strong>
                </div>
            </div><br><br>
        {{/each}}
        {{else}}
        <h2>No orders to show currently.<a href="/"> Get to shopping!</a></h2>
        
        {{/if}}
    </div>
</div>